USE [TN_CSDLPT]
GO
/****** Object:  StoredProcedure [dbo].[SP_checkMaGV]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_checkMaGV](@magv char(8))
as 
	if exists( select MAGV from GIAOVIEN where MAGV=@magv)
		raiserror ('Mã giáo viên đã tồn tại',16,1)

GO
/****** Object:  StoredProcedure [dbo].[SP_CheckMaKH]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CheckMaKH]
	@MAKH CHAR(8)
AS
BEGIN
	IF EXISTS(SELECT MAKH FROM  dbo.KHOA WHERE MAKH = @MAKH)
	BEGIN
		RAISERROR ('Mã khoa đã tồn tại!',16,1)
		RETURN
	END
   	IF EXISTS(SELECT MAKH FROM  LINK0.TN_CSDLPT.dbo.KHOA WHERE MAKH = @MAKH)
	BEGIN
		RAISERROR ('Mã khoa đã tồn tại!',16,1)
		RETURN
	END
END


GO
/****** Object:  StoredProcedure [dbo].[SP_CheckMaLop]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CheckMaLop] @MALOP CHAR(8)
AS
BEGIN
	IF EXISTS(SELECT MALOP FROM  dbo.LOP WHERE MALOP = @MALOP)
	BEGIN
		RAISERROR ('Mã lớp đã tồn tại!',16,1)
		RETURN
	END
   	IF EXISTS(SELECT MALOP FROM  LINK2.TN_CSDLPT.dbo.LOP WHERE MALOP = @MALOP)
	BEGIN
		RAISERROR ('Mã lớp đã tồn tại!',16,1)
		RETURN
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CheckMaMH]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CheckMaMH](
@MAMH char(5))
as

begin
	if exists(SELECT MAMH FROM  dbo.MONHOC WHERE MAMH =@MAMH)
   		raiserror ('MÃ MÔN HỌC ĐÃ TỒN TẠI!',16,1)
end


GO
/****** Object:  StoredProcedure [dbo].[SP_CheckMaSV]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CheckMaSV] @MASV CHAR(8)
AS
BEGIN
	IF EXISTS(SELECT MASV FROM  dbo.SINHVIEN WHERE MASV = @MASV)
   		BEGIN
			RAISERROR ('Mã sinh viên đã tồn tại!',16,1)
			RETURN 
		END 
	IF EXISTS(SELECT MASV FROM LINK2.TN_CSDLPT.dbo.SINHVIEN WHERE MASV = @MASV)
		BEGIN
			RAISERROR ('Mã sinh viên đã tồn tại!',16,1)
			RETURN 
		END
	RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckTenKH]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CheckTenKH]
	@TENKH NVARCHAR(50)
AS
BEGIN
	IF EXISTS(SELECT TENKH FROM  dbo.KHOA WHERE TENKH = @TENKH)
	BEGIN
		RAISERROR ('Tên khoa đã tồn tại!',16,1)
		RETURN
	END
   	IF EXISTS(SELECT TENKH FROM  LINK0.TN_CSDLPT.dbo.KHOA WHERE TENKH = @TENKH)
	BEGIN
		RAISERROR ('Tên khoa đã tồn tại!',16,1)
		RETURN
	END
END


GO
/****** Object:  StoredProcedure [dbo].[SP_CheckTenLop]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CheckTenLop]
	@TENLOP NVARCHAR(50)
AS
BEGIN
	IF EXISTS(SELECT TENLOP FROM  dbo.LOP WHERE TENLOP = @TENLOP)
	BEGIN
		RAISERROR ('Tên lớp đã tồn tại!',16,1)
		RETURN
	END
   	IF EXISTS(SELECT TENLOP FROM  LINK0.TN_CSDLPT.dbo.LOP WHERE TENLOP = @TENLOP)
	BEGIN
		RAISERROR ('Tên lớp đã tồn tại!',16,1)
		RETURN
	END	
END


GO
/****** Object:  StoredProcedure [dbo].[SP_CheckTenMH]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CheckTenMH](
@TENMH nvarchar(50))
as

begin
	if exists(SELECT TENMH FROM  dbo.MONHOC WHERE TENMH = @TENMH)
   		raiserror ('TÊN MÔN HỌC ĐÃ TỒN TẠI!',16,1)
end


GO
/****** Object:  StoredProcedure [dbo].[SP_ChuanBiThi]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ChuanBiThi] (
@MAMH NCHAR(5),
@MALOP NCHAR(8),
@TRINHDO NCHAR(1), 
@SOCAUTHI INT,
@LAN INT,
@NGAYTHI VARCHAR(10))
AS
BEGIN
	DECLARE @TRINHDOTHAP CHAR(1), @SOCAUHOI INT, @SOCAUHOI_TDT INT
	IF EXISTS(SELECT * FROM DBO.GIAOVIEN_DANGKY WHERE MAMH = @MAMH AND MALOP = @MALOP AND LAN = @LAN)
	BEGIN
		RAISERROR('ĐÃ LẬP LỊCH THI CHO MÔN NÀY!', 16, 1)
		RETURN
	END
	IF(@LAN = 2)
	BEGIN
		IF NOT EXISTS(SELECT * FROM DBO.BANGDIEM 
		WHERE MAMH = @MAMH AND LAN = 1 AND MASV IN(SELECT MASV FROM SINHVIEN WHERE MALOP = @MALOP))
		BEGIN
			RAISERROR('LẦN 1 CHƯA THI, KHÔNG ĐƯỢC ĐĂNG KÝ LẦN 2!', 16, 1)
			RETURN
		END

		IF NOT EXISTS(SELECT * FROM DBO.GIAOVIEN_DANGKY WHERE MAMH = @MAMH AND MALOP = @MALOP AND LAN = 1 AND NGAYTHI < CONVERT(DATETIME, @NGAYTHI))
		BEGIN
			RAISERROR('NGÀY THI LẦN 2 PHẢI LỚN HƠN NGÀY THI CỦA LẦN 1!', 16, 1)
			RETURN
		END
	END
	
	
	IF @TRINHDO = 'A' SET @TRINHDOTHAP = 'B'
	IF @TRINHDO = 'B' SET @TRINHDOTHAP = 'C'
	
	SET @SOCAUHOI = (SELECT COUNT(*) FROM dbo.BODE 
		WHERE MAMH = @MAMH AND TRINHDO = @TRINHDO) 

	IF @TRINHDO = 'C'
		IF @SOCAUTHI <= @SOCAUHOI RETURN
		ELSE 
		BEGIN
			RAISERROR (N'THIẾU CÂU HỎI! KHÔNG THỂ LẬP LỊCH THI',16,1)
			RETURN
		END		

	SET @SOCAUHOI_TDT = (SELECT COUNT(*) FROM dbo.BODE 
		WHERE MAMH = @MAMH AND TRINHDO = @TRINHDOTHAP)

	IF @TRINHDO = 'A' OR @TRINHDO = 'B'
	BEGIN
		IF	@SOCAUTHI <= @SOCAUHOI + @SOCAUHOI_TDT AND @SOCAUTHI*0.7 <= @SOCAUHOI RETURN
		BEGIN
			RAISERROR (N'THIẾU CÂU HỎI! THIẾU CÂU HỎI KHÔNG THỂ LẬP LỊCH THI',16,1)
			RETURN
		END	
	END
END	
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRole]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetRole]
@MAGV NVARCHAR( 100)
AS
DECLARE @UID INT
SELECT @UID=UID  FROM SYS.SYSUSERS 
  WHERE NAME=@MAGV
SELECT NAME
  FROM SYS.SYSUSERS
    WHERE UID = (SELECT GROUPUID FROM SYS.SYSMEMBERS WHERE MEMBERUID=@UID)

GO
/****** Object:  StoredProcedure [dbo].[SP_LayThongTinGiaoVien]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LayThongTinGiaoVien] @TENLOGIN NVARCHAR( 100)
AS
DECLARE @UID INT
DECLARE @MANV NVARCHAR(100)
SELECT @UID= UID , @MANV= NAME FROM SYS.SYSUSERS 
  WHERE SID = SUSER_SID(@TENLOGIN)
IF NOT EXISTS(SELECT MAGV FROM DBO.GIAOVIEN WHERE MAGV=@MANV )
	BEGIN
			RAISERROR ('GIẢNG VIÊN KHÔNG TỒN TẠI !!',16,1)
			RETURN 
	END
SELECT MAGV= @MANV, 
       HOTEN = (SELECT HO+ ' '+TEN FROM DBO.GIAOVIEN WHERE MAGV=@MANV ), 
       TENNHOM=NAME
  FROM SYS.SYSUSERS
    WHERE UID = (SELECT GROUPUID FROM SYS.SYSMEMBERS WHERE MEMBERUID=@UID)
GO
/****** Object:  StoredProcedure [dbo].[SP_LayThongTinSinhVien]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LayThongTinSinhVien] @login_name nvarchar(20), @password nvarchar(50)
as
begin
	if exists(select masv from sinhvien where masv=@login_name AND MATKHAU=@password)
				select masv, hoten=ho+' '+ten, GROUPNAME='SinhVien' , NGAYSINH, DIACHI, MALOP from sinhvien where masv=@login_name
			else
				RAISERROR (N'Mã sinh viên hoặc mật khẩu không chính xác', 16, 1)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_TaoTaiKhoan]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TaoTaiKhoan] @LGNAME VARCHAR(50),
	@PASS VARCHAR(50),
	@USERNAME VARCHAR(50),
	@ROLE VARCHAR(50)
AS
BEGIN
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'TN_CSDLPT'                     

  IF (@RET =1)  
     RETURN 1

  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END

  EXEC sp_addrolemember @ROLE, @USERNAME
  IF @ROLE='TRUONG' OR @ROLE='COSO' EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
  RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThiTracNghiem]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ThiTracNghiem] (
@MAMH NCHAR(5),
@TRINHDO NCHAR(1), 
@SOCAUTHI INT)
AS
BEGIN
	DECLARE @TRINHDOTHAP CHAR(1), @SOCAUHOICS1 INT,@SOCAUHOICS2 INT,@SOCAUHOI_TDTCS1 INT,@SOCAUHOI_TDTCS2 INT
	
	CREATE TABLE #BODETHI (
		CAUHOI INT,
		MAMH CHAR(5),
		TRINHDO CHAR(1),
		NOIDUNG NVARCHAR(500),
		A NVARCHAR(100),
		B NVARCHAR(100),
		C NVARCHAR(100),
		D NVARCHAR(100),
		DAP_AN CHAR(1),
		MAGV CHAR(8)
	)

	IF @TRINHDO = 'A' SET @TRINHDOTHAP = 'B'
	IF @TRINHDO = 'B' SET @TRINHDOTHAP = 'C'
	
	SET @SOCAUHOICS1 = (SELECT COUNT(*) FROM dbo.BODE 
		WHERE MAMH = @MAMH AND TRINHDO = @TRINHDO AND 
		MAGV IN (SELECT MAGV FROM dbo.GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM dbo.KHOA)))
	SET @SOCAUHOICS2 = (SELECT COUNT(*) FROM dbo.BODE 
		WHERE MAMH = @MAMH AND TRINHDO = @TRINHDO AND 
		MAGV IN (SELECT MAGV FROM dbo.GIAOVIEN WHERE MAKH NOT IN (SELECT MAKH FROM dbo.KHOA)))
	
	
	IF @TRINHDO = 'C'
	BEGIN
		IF @SOCAUTHI <= @SOCAUHOICS1 
		BEGIN
			INSERT INTO #BODETHI 
			SELECT TOP (@SOCAUTHI) CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV FROM dbo.BODE  
			WHERE TRINHDO = @TRINHDO AND MAMH = @MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA)) ORDER BY NEWID()
		END
		ELSE
			IF @SOCAUTHI <= @SOCAUHOICS1 + @SOCAUHOICS2 
			BEGIN
				INSERT INTO #BODETHI SELECT TOP (@SOCAUHOICS1) CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV FROM dbo.BODE  
				WHERE TRINHDO = @TRINHDO AND MAMH = @MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA)) ORDER BY NEWID()
				
				INSERT INTO #BODETHI SELECT TOP (@SOCAUTHI - @SOCAUHOICS1) CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV FROM dbo.BODE  
				WHERE TRINHDO = @TRINHDO AND MAMH = @MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH NOT IN (SELECT MAKH FROM KHOA)) ORDER BY NEWID()  
			END
			ELSE 
			BEGIN
				RAISERROR (N'THIẾU CÂU HỎI',16,1)
				RETURN
			END		
	END

	
	SET @SOCAUHOI_TDTCS1 = (SELECT COUNT(*) FROM dbo.BODE 
		WHERE MAMH = @MAMH AND TRINHDO = @TRINHDOTHAP AND 
		MAGV IN (SELECT MAGV FROM dbo.GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM dbo.KHOA)))

	SET @SOCAUHOI_TDTCS2 = (SELECT COUNT(*) FROM dbo.BODE 
		WHERE MAMH = @MAMH AND TRINHDO = @TRINHDOTHAP AND 
		MAGV IN (SELECT MAGV FROM dbo.GIAOVIEN WHERE MAKH NOT IN (SELECT MAKH FROM dbo.KHOA)))

	IF @TRINHDO = 'A' OR @TRINHDO = 'B'
	BEGIN
		IF @SOCAUTHI <= @SOCAUHOICS1 
		BEGIN
			INSERT INTO #BODETHI SELECT TOP (@SOCAUTHI) CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV FROM BODE  
			WHERE TRINHDO = @TRINHDO AND MAMH = @MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA)) ORDER BY NEWID()
		END
		ELSE
			IF @SOCAUHOICS1 >= @SOCAUTHI*0.7 
			BEGIN
				INSERT INTO #BODETHI SELECT TOP (@SOCAUHOICS1) CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV FROM dbo.BODE 
				WHERE TRINHDO = @TRINHDO AND MAMH = @MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA)) ORDER BY NEWID()
				
				IF @SOCAUTHI <= @SOCAUHOICS1 + @SOCAUHOI_TDTCS1 	
				BEGIN
					INSERT INTO #BODETHI SELECT TOP (@SOCAUTHI - @SOCAUHOICS1) CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV FROM dbo.BODE 
					WHERE TRINHDO = @TRINHDOTHAP AND MAMH = @MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA)) ORDER BY NEWID()
				END
				ELSE
				BEGIN
					INSERT INTO #BODETHI SELECT TOP (@SOCAUHOI_TDTCS1) CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV FROM dbo.BODE 
					WHERE TRINHDO = @TRINHDOTHAP AND MAMH = @MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA)) ORDER BY NEWID()
				 
					IF @SOCAUTHI <= @SOCAUHOICS1 + @SOCAUHOI_TDTCS1 + @SOCAUHOICS2 
					BEGIN
						INSERT INTO #BODETHI SELECT TOP (@SOCAUTHI - @SOCAUHOICS1 - @SOCAUHOI_TDTCS1) CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV FROM dbo.BODE 
						WHERE TRINHDO = @TRINHDO AND MAMH = @MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH NOT IN (SELECT MAKH FROM KHOA)) ORDER BY NEWID()
					END
					ELSE
					BEGIN
						INSERT INTO #BODETHI SELECT TOP (@SOCAUHOICS2) CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV FROM dbo.BODE 
						WHERE TRINHDO = @TRINHDO AND MAMH = @MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH NOT IN (SELECT MAKH FROM KHOA)) ORDER BY NEWID()
						
						IF @SOCAUTHI <= @SOCAUHOICS1 + @SOCAUHOI_TDTCS1 + @SOCAUHOICS2 + @SOCAUHOI_TDTCS2 
						BEGIN
							INSERT INTO #BODETHI SELECT TOP (@SOCAUTHI - @SOCAUHOICS1 - @SOCAUHOI_TDTCS1 - @SOCAUHOICS2) CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV FROM dbo.BODE 
							WHERE TRINHDO = @TRINHDOTHAP AND MAMH = @MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH NOT IN (SELECT MAKH FROM KHOA)) ORDER BY NEWID()
						END
						ELSE 
						BEGIN
							RAISERROR (N'THIẾU CÂU HỎI',16,1)
							RETURN
						END
					END
				END
			END
			ELSE 
			BEGIN
				INSERT INTO #BODETHI SELECT TOP (@SOCAUHOICS1) CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV FROM dbo.BODE 
				WHERE TRINHDO = @TRINHDO AND MAMH = @MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA)) ORDER BY NEWID()

				IF @SOCAUTHI <= @SOCAUHOICS1 + @SOCAUHOICS2 
				BEGIN
					INSERT INTO #BODETHI SELECT TOP (@SOCAUTHI - @SOCAUHOICS1) CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV FROM dbo.BODE 
					WHERE TRINHDO = @TRINHDO AND MAMH = @MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH NOT IN (SELECT MAKH FROM KHOA)) ORDER BY NEWID()
				END
				ELSE 
					IF @SOCAUTHI*0.7 <= @SOCAUHOICS1 + @SOCAUHOICS2 
					BEGIN
						INSERT INTO #BODETHI SELECT TOP (@SOCAUHOICS2) CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV FROM dbo.BODE 
						WHERE TRINHDO = @TRINHDO AND MAMH = @MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH NOT IN (SELECT MAKH FROM KHOA)) ORDER BY NEWID()

						IF @SOCAUTHI <= @SOCAUHOICS1 + @SOCAUHOICS2 + @SOCAUHOI_TDTCS1 
						BEGIN
							INSERT INTO #BODETHI SELECT TOP (@SOCAUTHI - @SOCAUHOICS1 - @SOCAUHOICS2) CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV FROM dbo.BODE 
							WHERE TRINHDO = @TRINHDOTHAP AND MAMH = @MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA)) ORDER BY NEWID()
						END
						ELSE
						BEGIN
							INSERT INTO #BODETHI SELECT TOP (@SOCAUHOI_TDTCS1) CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV FROM dbo.BODE 
							WHERE TRINHDO = @TRINHDOTHAP AND MAMH = @MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA)) ORDER BY NEWID()
 
							IF @SOCAUTHI <= @SOCAUHOICS1 + @SOCAUHOI_TDTCS1 + @SOCAUHOICS2 + @SOCAUHOI_TDTCS2 
							BEGIN
								INSERT INTO #BODETHI SELECT TOP (@SOCAUTHI - @SOCAUHOICS1 - @SOCAUHOI_TDTCS1 - @SOCAUHOICS2) CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV FROM dbo.BODE 
								WHERE TRINHDO = @TRINHDOTHAP AND MAMH = @MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH NOT IN (SELECT MAKH FROM KHOA)) ORDER BY NEWID()
							END
							ELSE 
							BEGIN
								RAISERROR (N'THIẾU CÂU HỎI',16,1)
								RETURN
							END
						END
					END
					ELSE 
					BEGIN
						RAISERROR (N'THIẾU CÂU HỎI',16,1)
						RETURN
					END
				
			END					
	END
	SELECT * FROM #BODETHI ORDER BY NEWID() 
END
	
GO
/****** Object:  StoredProcedure [dbo].[SP_UndoSuaBD]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UndoSuaBD]
(	@CH int, 
	@MAMH char(5),
	@TRINHDO char(1), 
	@NOIDUNG ntext,
	@A ntext,
	@B ntext,
	@C ntext,
	@D ntext,
	@DAPAN char(1))
	
AS

BEGIN
	UPDATE [dbo].[BODE] SET MAMH = @MAMH, TRINHDO = @TRINHDO,  DAP_AN = @DAPAN,NOIDUNG=@NOIDUNG,A=@A,B=@B,C=@C,D=@D
	WHERE CAUHOI = @CH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UndoSuaGV]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_UndoSuaGV]
(	@MAGV CHAR(8), 
	@HO NVARCHAR(50),
	@TEN NVARCHAR(10), 
	@DIACHI NVARCHAR(500))
AS

BEGIN
	UPDATE [dbo].[GIAOVIEN] SET HO = @HO, TEN = @TEN,  DIACHI = @DIACHI
	WHERE MAGV = @MAGV
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UndoSuaKH]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UndoSuaKH] (
@MAKH NCHAR(8), 
@TENKH NVARCHAR(50))
AS

BEGIN
	IF NOT EXISTS(SELECT MAKH FROM  DBO.KHOA WHERE MAKH = @MAKH)
		BEGIN
			RAISERROR (N'PHỤC HỒI SỬA THẤT BẠI! MÃ KHOA MỚI ĐÃ SỬA KHÔNG TỒN TẠI',16,1)
			RETURN
		END	

	IF EXISTS(SELECT TENKH FROM  DBO.KHOA WHERE TENKH = @TENKH)
		BEGIN
			RAISERROR (N'PHỤC HỒI SỬA THẤT BẠI! TÊN KHOA CŨ ĐÃ SỬA ĐANG TỒN TẠI',16,1)
			RETURN
		END		
	IF EXISTS(SELECT TENKH FROM  LINK0.TN_CSDLPT.DBO.KHOA WHERE TENKH = @TENKH)
		BEGIN
			RAISERROR (N'PHỤC HỒI SỬA THẤT BẠI! TÊN KHOA CŨ ĐÃ SỬA ĐANG TỒN TẠI',16,1)
			RETURN
		END	
UPDATE [DBO].[KHOA] SET TENKH = @TENKH WHERE MAKH = @MAKH
END


GO
/****** Object:  StoredProcedure [dbo].[SP_UndoSuaLop]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UndoSuaLop](
@MALOP CHAR(8), 
@TENLOP NVARCHAR(50))
AS

BEGIN
	IF NOT EXISTS(SELECT MALOP FROM  DBO.LOP WHERE MALOP = @MALOP)
		BEGIN
			RAISERROR (N'PHỤC HỒI SỬA THẤT BẠI! MÃ LỚP MỚI ĐÃ SỬA KHÔNG TỒN TẠI',16,1)
			RETURN
		END	
	IF EXISTS(SELECT TENLOP FROM  DBO.LOP WHERE TENLOP = @TENLOP)
			BEGIN
				RAISERROR (N'PHỤC HỒI SỬA THẤT BẠI! TÊN LỚP CŨ ĐÃ SỬA ĐANG TỒN TẠI',16,1)
				RETURN
			END	
	
	IF EXISTS(SELECT TENLOP FROM  LINK0.TN_CSDLPT.DBO.LOP WHERE TENLOP = @TENLOP)
			BEGIN
				RAISERROR (N'PHỤC HỒI SỬA THẤT BẠI! TÊN LỚP CŨ ĐÃ SỬA ĐANG TỒN TẠI',16,1)
				RETURN
			END	
	
	UPDATE [DBO].[LOP] SET TENLOP = @TENLOP WHERE MALOP = @MALOP
END


GO
/****** Object:  StoredProcedure [dbo].[SP_UndoSuaMH]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UndoSuaMH](
@MAMH CHAR(5), 
@TENMH NVARCHAR(50))
AS

BEGIN

	IF NOT EXISTS(SELECT MAMH FROM  DBO.MONHOC WHERE MAMH = @MAMH)
		BEGIN
			RAISERROR (N'PHỤC HỒI SỬA THẤT BẠI! MÃ MÔN HỌC MỚI ĐÃ SỬA LÚC TRƯỚC KHÔNG TỒN TẠI"',16,1)
			RETURN
		END	
	
	UPDATE [DBO].[MONHOC] SET TENMH = @TENMH WHERE MAMH = @MAMH
END


GO
/****** Object:  StoredProcedure [dbo].[SP_UndoSuaSV]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UndoSuaSV] (	@MASV CHAR(8), 
	@HO NVARCHAR(50),
	@TEN NVARCHAR(10), 
	@NGAYSINH CHAR(121), 
	@DIACHI NVARCHAR(500), 
	@MALOP CHAR(8))
AS

BEGIN
	UPDATE [DBO].[SINHVIEN] SET HO = @HO, TEN = @TEN, NGAYSINH = convert(datetime, @NGAYSINH, 103), DIACHI = @DIACHI, MALOP = @MALOP
	WHERE MASV = @MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UndoThemBD]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UndoThemBD](
@MABD CHAR(8))
AS

BEGIN

	IF EXISTS(SELECT CAUHOI FROM  BODE WHERE CAUHOI = @MABD)		
   			DELETE  DBO.BODE WHERE CAUHOI = @MABD
	ELSE
		BEGIN
			RAISERROR (N'Phục hồi thất bại, câu hỏi không tồn tại',16,1)
		END	
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UndoThemGV]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_UndoThemGV](
@MAGV CHAR(8))
AS

BEGIN

	IF EXISTS(SELECT MAGV FROM  DBO.GIAOVIEN WHERE MAGV = @MAGV)		
   			DELETE  DBO.GIAOVIEN WHERE MAGV = @MAGV
	ELSE
		BEGIN
			RAISERROR (N'Phục hồi thất bại, Giáo viên không tồn tại',16,1)
		END	
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UndoThemKH]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UndoThemKH](
@MAKH NCHAR(8))
AS

BEGIN
	DECLARE @ERORSTR NVARCHAR(200)

	IF NOT EXISTS(SELECT MAKH FROM  DBO.KHOA WHERE MAKH = @MAKH)
		RAISERROR (N'PHỤC HỒI THÊM THẤT BẠI! MÃ KHOA ĐÃ THÊM KHÔNG TỒN TẠI',16,1)				
	ELSE
		DELETE  DBO.KHOA WHERE MAKH = @MAKH
			
END


GO
/****** Object:  StoredProcedure [dbo].[SP_UndoThemLop]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UndoThemLop](
@MALOP CHAR(8))
AS

BEGIN
	IF EXISTS(SELECT MALOP FROM  DBO.LOP WHERE MALOP = @MALOP)		
   			RAISERROR (N'PHỤC HỒI THÊM THẤT BẠI! MÃ LỚP ĐÃ THÊM KHÔNG TỒN TẠI',16,1)
	ELSE
		DELETE  DBO.LOP WHERE MALOP = @MALOP
END


GO
/****** Object:  StoredProcedure [dbo].[SP_UndoThemMH]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UndoThemMH] (
@MAMH CHAR(5))
AS

BEGIN
	IF EXISTS(SELECT MAMH FROM  DBO.MONHOC WHERE MAMH = @MAMH)		
   			DELETE  DBO.MONHOC WHERE MAMH = @MAMH
	ELSE
		BEGIN
			RAISERROR (N'PHỤC HỒI THÊM THẤT BẠI! MÃ MÔN HỌC ĐÃ THÊM KHÔNG TỒN TẠI',16,1)
			RETURN
		END	
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UndoThemSV]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UndoThemSV](
@MASV CHAR(8))
AS

BEGIN

	IF EXISTS(SELECT MASV FROM  DBO.SINHVIEN WHERE MASV = @MASV)		
   			DELETE  DBO.SINHVIEN WHERE MASV = @MASV
	ELSE
		BEGIN
			RAISERROR (N'Phục hồi thất bại, Sinh viên không tồn tại',16,1)
		END	
END


GO
/****** Object:  StoredProcedure [dbo].[SP_UndoXoaBD]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UndoXoaBD]
(	@CH int, 
	@MAMH char(5),
	@TRINHDO char(1), 
	@NOIDUNG ntext,
	@A ntext,
	@B ntext,
	@C ntext,
	@D ntext,
	@DAPAN char(1),
	@MAGV char(8))
AS

BEGIN	
	IF NOT EXISTS (SELECT CAUHOI FROM  BODE WHERE CAUHOI = @CH)
	BEGIN
		INSERT INTO [dbo].[BODE] (CAUHOI,MAMH,TRINHDO,NOIDUNG,A,B,C,D,DAP_AN,MAGV) 
		VALUES (@CH ,@MAMH ,@TRINHDO  ,@NOIDUNG,@A,@B,@C,@D,@DAPAN,@MAGV)
	END
	ELSE BEGIN
			RAISERROR (N'Phục hồi thất bại, câu hỏi đã tồn tại',16,1)
		END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UndoXoaGV]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UndoXoaGV] (@MAGV CHAR(8), 
@HO NVARCHAR(50), 
@TEN NVARCHAR(10), 
@DIACHI NVARCHAR(500),
@MAKHOA CHAR(8)
) 
AS

BEGIN	
	INSERT INTO [DBO].[GIAOVIEN] (MAGV,HO,TEN,DIACHI,MAKH ) 
	VALUES (@MAGV ,@HO ,@TEN  ,@DIACHI,@MAKHOA )
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UndoXoaKH]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UndoXoaKH](
@MAKH NCHAR(8), 
@TENKH NVARCHAR(50), 
@MACS NCHAR(3))
AS

BEGIN


	IF EXISTS(SELECT MAKH FROM  DBO.KHOA WHERE MAKH = @MAKH)
		BEGIN
			RAISERROR (N'PHỤC HỒI XOÁ THẤT BẠI! MÃ KHOA ĐÃ XOÁ ĐANG TỒN TẠI',16,1)
			RETURN
		END	
	IF EXISTS(SELECT MAKH FROM  LINK0.TN_CSDLPT.DBO.KHOA WHERE MAKH = @MAKH)
		BEGIN 
			RAISERROR (N'PHỤC HỒI XOÁ THẤT BẠI! MÃ KHOA ĐÃ XOÁ ĐANG TỒN TẠI',16,1)
			RETURN
		END	
   	IF EXISTS(SELECT TENKH FROM  DBO.KHOA WHERE TENKH = @TENKH)
		BEGIN
			RAISERROR (N'PHỤC HỒI XOÁ THẤT BẠI! TÊN KHOA ĐÃ XOÁ ĐANG TỒN TẠI',16,1)
			RETURN
		END		
   	IF EXISTS(SELECT TENKH FROM  LINK0.TN_CSDLPT.DBO.KHOA WHERE TENKH = @TENKH)
		BEGIN
			RAISERROR (N'PHỤC HỒI XOÁ THẤT BẠI! TÊN KHOA ĐÃ XOÁ ĐANG TỒN TẠI',16,1)
			RETURN
		END	

	INSERT INTO [DBO].[KHOA] ( MAKH, TENKH, MACS ) 
		VALUES (@MAKH, @TENKH, @MACS)
END




GO
/****** Object:  StoredProcedure [dbo].[SP_UndoXoaLop]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UndoXoaLop](
@MALOP CHAR(8),
@TENLOP NVARCHAR(50), 
@MAKH NCHAR(8))
AS

BEGIN
	IF EXISTS(SELECT MALOP FROM  DBO.LOP WHERE MALOP = @MALOP)
		BEGIN
			RAISERROR (N'PHỤC HỒI XOÁ THẤT BẠI! MÃ LỚP ĐÃ XOÁ ĐANG TỒN TẠI',16,1)
			RETURN
		END	
	IF EXISTS(SELECT MALOP FROM  LINK0.TN_CSDLPT.DBO.LOP WHERE MALOP = @MALOP)
		BEGIN
			RAISERROR (N'PHỤC HỒI XOÁ THẤT BẠI! MÃ LỚP ĐÃ XOÁ ĐANG TỒN TẠI',16,1)
			RETURN
		END		
   	IF EXISTS(SELECT TENLOP FROM  DBO.LOP WHERE TENLOP = @TENLOP)
		BEGIN
			RAISERROR (N'PHỤC HỒI XOÁ THẤT BẠI! TÊN LỚP ĐÃ XOÁ ĐANG TỒN TẠI',16,1)
			RETURN
		END
	IF EXISTS(SELECT TENLOP FROM  LINK0.TN_CSDLPT.DBO.LOP WHERE TENLOP = @TENLOP)
		BEGIN
			RAISERROR (N'PHỤC HỒI XOÁ THẤT BẠI! TÊN LỚP ĐÃ XOÁ ĐANG TỒN TẠI',16,1)
			RETURN
		END		
	INSERT INTO [DBO].LOP ( MALOP, TENLOP, MAKH ) 
			VALUES (@MALOP, @TENLOP, @MAKH)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_UndoXoaMH]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UndoXoaMH](
@MAMH CHAR(5), 
@TENMH NVARCHAR(50))
AS

BEGIN

	IF EXISTS(SELECT MAMH FROM  DBO.MONHOC WHERE MAMH = @MAMH)
		BEGIN
			RAISERROR (N'PHỤC HỒI XOÁ THẤT BẠI! MÃ MÔN HỌC ĐÃ XOÁ ĐANG TỒN TẠI',16,1)
			RETURN
		END		
   	IF EXISTS(SELECT TENMH FROM  DBO.MONHOC WHERE TENMH = @TENMH)
		BEGIN
			RAISERROR ( N'PHỤC HỒI XOÁ THẤT BẠI! TÊN MÔN HỌC ĐÃ XOÁ ĐANG TỒN TẠI',16,1)
			RETURN
		END		
	
	INSERT INTO [DBO].[MONHOC] ( MAMH, TENMH ) 
		VALUES (@MAMH, @TENMH)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_UndoXoaSV]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UndoXoaSV] (@MASV CHAR(8), 
@HO NVARCHAR(50), 
@TEN NVARCHAR(10), 
@NGAYSINH CHAR(121), 
@DIACHI NVARCHAR(500), 
@MALOP CHAR(8))
AS

BEGIN	
	INSERT INTO [DBO].[SINHVIEN] (MASV,HO,TEN,NGAYSINH,DIACHI,MALOP) 
	VALUES (@MASV ,@HO ,@TEN ,convert(datetime, @NGAYSINH, 103) ,@DIACHI,@MALOP)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_XoaTaiKhoan]    Script Date: 14/05/2022 9:42:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XoaTaiKhoan]
  @LGNAME VARCHAR(50),
  @USRNAME VARCHAR(50)
  
AS
  EXEC SP_DROPUSER @USRNAME
  EXEC SP_DROPLOGIN @LGNAME


GO
