USE [TN_CSDLPT]
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckMaSV]    Script Date: 11/05/2022 11:57:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_CheckMaSV]
	@MASV CHAR(8)
AS
BEGIN
	IF EXISTS(SELECT MASV FROM  dbo.SINHVIEN WHERE MASV = @MASV)
   		BEGIN
			RAISERROR ('Mã sinh viên đã tồn tại!',16,1)
			RETURN 
		END 
	IF EXISTS(SELECT MASV FROM LINK2.TN_CSDLPT.dbo.SINHVIEN WHERE MASV = @MASV)
		BEGIN
			RAISERROR ('Mã sinh viên đã tồn tại!',16,1)
			RETURN 
		END
	RETURN 
END